/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: white;
}
p, a, li, button, ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

summary {
  font-style: italic;
  font-size: 14px;
  margin: 15px 0;
}


p.success {
	color: rgba(90, 232, 90, 0.902);
}

p.danger {
	color: rgba(239, 70, 70, 0.861);
}
/************ Navbar Css ************/
nav.navbar {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

nav.navbar.scrolled {
  padding: 0;
  background: #121212f7;
  height: 80px;
}

@media screen and (max-width:769px) {
   nav.navbar{
    position: absolute; 
  }
}

nav.navbar a.navbar-brand {
  width: 10%;
}
@media screen and (max-width:769px) {
  nav.navbar a.navbar-brand {
    width: 15%;
  }
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
@media screen and (max-width:992px) {
  nav.navbar .navbar-nav .nav-link.navbar-link {
    font-size: 15px;
    padding: 0 10px;
  }
}
@media screen and (max-width:850px) {
  nav.navbar .navbar-nav .nav-link.navbar-link {
    padding: 0 10px;
  }
}
@media screen and (max-width:767px) {
  nav.navbar .navbar-nav .nav-link.navbar-link {
    text-align: center;
    margin-bottom: 5px;
    width: 50%;
  }
}

nav.navbar .left-part-responsive {
  display: flex;
}

nav.navbar .right-part-responsive {
  display: flex;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    color: rgba(222, 187, 247, 0.587);
    opacity: 1;
    transition: .6s;
}

span.navbar-text {
    display: flex;
    align-items: center;
}
@media screen and (max-width:992px) {
  span.navbar-text {
    height: 50px;
    justify-content: space-around;
    margin-top: 10px;
  }
}
@media screen and (max-width:767px) {
  span.navbar-text {
    height: 50px;
    justify-content: space-between;
    margin-top: 10px;
  }
}

.social-icon {
    display: inline-block;
    margin-left: 14px;
}
@media screen and (max-width:992px) {
  .social-icon {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width:850px) {
  .social-icon {
    margin: 10px;
  }
}
@media screen and (max-width:767px) {
  .social-icon {
    display: flex;
    margin: 0;
  }
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
@media screen and (max-width:992px) {
  .social-icon a{
    width: 35px;
    height: 35px;
  }
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background: rgba(222, 187, 247, 0.587);
    border-radius: 50%;
    transform: scale(0);
	  transition: 0.9s ease-in-out;
}

.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.5s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  height: 50px;
  width: 95px;
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.8s ease-in-out;
}
@media screen and (max-width:767px) {
  .navbar-text button {
    height: 25px;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}
@media screen and (max-width:850px) {
  .navbar-text button {
    margin: 0 10px;
  }
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background: rgba(222, 187, 247, 0.587);
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.8s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	  outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px; 
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/img/banner-bg.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width:992px) {
  .banner {
    padding: 200px 0 100px 0;
  }
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.468) -5.91%, rgba(73, 47, 189, 0.4) 111.58%);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
@media screen and (max-width:992px) {
  .banner .tagline {
    font-size: 16px;
  }
}
@media screen and (max-width:767px) {
  .banner .tagline {
    margin-top: 50px;
  }
}

.banner h1 {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  display: block;
}
@media screen and (max-width:992px) {
  .banner h1 {
    font-size: 50px;
  }
}
@media screen and (max-width:400px) {
  .banner h1 {
    font-size: 40px;
  }
}

.banner span {
  color: white;
}

.banner p {
  color: #B8B8B8;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
@media screen and (max-width:992px) {
  .banner p {
    font-size: 15px;
  }
}
.banner .text2 {
  display: none;
}
@media screen and (max-width:769px) {
  .banner .text2 {
    display: block;
  }
}
@media screen and (max-width:769px) {
  .banner .text1 {
    display: none;
  }
}

.banner img {
  animation: updown 6s ease-in-out infinite;
  width: 90%;
}
@media screen and (max-width:992px) {
  .banner img {
   margin-top: 150px;
  }
}
@media screen and (max-width:769px) {
  .banner img {
   margin: 10px auto;
   width: 80%;
  }
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(-20px);
    }
}

/************ Skills Css ************/
.skill {
  padding: 0 0 50px 0;
  position: relative;
  background: rgba(124, 120, 120, 0.235);
}

.skill-bx {
  background: #0a0a0af4;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}
@media screen and (max-width:585px) {
  .skill-bx {
    margin: -50px 5px 15px;
  }
}
@media screen and (max-width:485px) {
  .skill-bx {
    margin: -50px 10px 15px;
  }
}
@media screen and (max-width:300px) {
  .skill-bx {
    margin: -50px 0px 15px;
  }
}

.skill h2 {
	font-size: 45px;
	font-weight: 700;
  margin-top: 10px;
}
@media screen and (max-width:550px) {
  .skill h2 {
    font-size: 35px;
  }
}
@media screen and (max-width:465px) {
  .skill h2 {
    font-size: 30px;
    margin: auto;
  }
}
@media screen and (max-width:355px) {
  .skill h2 {
    font-size: 25px;
    margin: auto;
  }
}
@media screen and (max-width:300px) {
  .skill h2 {
    font-size: 20px;
    margin: auto;
  }
}

.skill h4 {
    color: #B8B8B8;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 10px 0 50px 0;
}
@media screen and (max-width:550px) {
  .skill h4 {
    font-size: 20px;
  }
}
@media screen and (max-width:465px) {
  .skill h4 {
    font-size: 18px;
  }
}
@media screen and (max-width:300px) {
  .skill h4 {
    font-size: 14px;
  }
}

.skill h5 {
  font-size: 15px;
  letter-spacing: .7px;
}
@media screen and (max-width:1025px) {
  .skill h5 {
    font-size: 14px;
  }
}
@media screen and (max-width:465px) {
  .skill h5 {
    font-size: 15px;
  }
}
@media screen and (max-width:305px) {
  .skill h5 {
    font-size: 14px;
    margin-top: 10px;
  }
}

.skill-slider {
  width: 95%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width:1025px) {
  .skill-slider {
    width: 95%;
  }
}
@media screen and (max-width:992px) {
  .skill-slider {
    width: 85%;
  }
}
@media screen and (max-width:768px) {
  .skill-slider {
    width: 95%;
  }
}

.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}
@media screen and (max-width:1200px) {
  .skill-slider .item img{
    width: 60%;
  }
}
@media screen and (max-width:1025px) {
  .skill-slider .item img{
    width: 55%;
  }
}
@media screen and (max-width:992px) {
  .skill-slider .item img{
    width: 75%;
  }
}
@media screen and (max-width:763px) {
  .skill-slider .item img{
    width: 85%;
  }
}
@media screen and (max-width:465px) {
  .skill-slider .item img{
    width: 70%;
  }
}
@media screen and (max-width:360px) {
  .skill-slider .item img{
    padding: 0 10px 15px;
    width: 95%;
  }
}

.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

/************ Projects Css ************/
.project {
  padding: 70px 0;
  position: relative;
  background-color: black
}
.project h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
}

.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}
@media screen and (max-width:576px) {
  .proj-imgbx {
    width: 80%;
    margin: 20px auto;
  }
}

.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h5 {
  font-size: 25px;
  margin: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
@media screen and (max-width:992px) {
  .proj-txtx h5 {
    font-size: 18px;
    margin: 10px;
  }
}
@media screen and (max-width:576px) {
  .proj-txtx h5 {
    font-size: 25px;
    margin: 10px;
  }
}
@media screen and (max-width:440px) {
  .proj-txtx h5 {
    font-size: 20px;
    margin: 10px;
  }
}
@media screen and (max-width:300px) {
  .proj-txtx h5 {
    font-size: 16px;
    margin: 10px;
  }
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.8px;
}
@media screen and (max-width:992px) {
  .proj-txtx span {
    font-size: 16px;
  }
}
@media screen and (max-width:576px) {
  .proj-txtx span {
    font-size: 20px;
  }
}
@media screen and (max-width:300px) {
  .proj-txtx span {
    font-size: 14px;
  }
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}
.link-project {
  color: white;
  font-size: 18px;
  transition: .8s;
}

.link-project:hover {
  color: rgb(37, 36, 36);
  
}

/********** Prestations **************/
.prestations {
  background: white;
  margin-bottom: 40px;
}

.prestations h2 {
  color: rgba(0, 0, 0, 0.856);
  font-size: 45px;
	font-weight: 700;
  text-align: center;
  margin: 30px auto;
}

.prestations .presta-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 50%));
  align-items: center;
  justify-content: center;
}
@media screen and (max-width:820px) {
  .prestations .presta-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 100%));
  } 
}

.prestations .presta-container article {
  border: 2px solid rgba(233, 229, 229, 0.687);
  box-shadow: 2px 2px 5px #492fbdba, -2px -2px 5px #aa367cbd;
  border-radius: 25px;
  margin: 30px 20px;
}

.prestations article .images {
  width: 250px;
  height: 150px;
  margin: 30px auto 10px;
}
@media screen and (max-width:300px) {
  .prestations article .images {
    width: 185px;
    height: 130px;
  }
  
}
.img-article1 {
  background: url(./assets/img/presta1-img.png) center/cover;
}
.img-article2 {
  background: url(./assets/img/presta2-img.png) center/cover;
}
.img-article3 {
  background: url(./assets/img/presta3-img.png) center/cover;
}
.img-article4 {
  background: url(./assets/img/presta4-img.png) center/cover;
}

.prestations .presta-container article h5 {
  font-size: 20px;
  margin: 20px 0;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.856);
  text-align: center;
}

.prestations .presta-container article p {
  word-spacing: 0px;
  margin: 10px 20px 25px;
  color: rgba(0, 0, 0, 0.856);
}
@media screen and (max-width:370px) {
  .prestations .presta-container article p {
    font-size: 14px;
  }
}

.prestations .newsletter-link {
  text-align: center;
  margin: 20px auto 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.856);
}

@media screen and (max-width: 720px) {
  .prestations .newsletter-link {
    margin: 20px 15px 0;
  }
}
@media screen and (max-width: 450px) {
  .prestations .newsletter-link {
    font-size: 14px;
  }
}

.prestations .newsletter-link a {
  color: #AA367C;
  letter-spacing: .8px;
}
/************ contact ************/
.contact {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 60px 0 200px 0;
}

.contact img {
  width: 70%;
}
@media screen and (max-width:992px) {
  .contact img {
    width: 100%;
  }
}
@media screen and (max-width:768px) {
  .contact img {
    width: 80%;
  }
}

.contact h2 {
	font-size: 45px;
	font-weight: 700;
}

.contact .para-contact {
  color: #ffffff9c;
  margin-bottom: 40px;
  font-style: italic;
  letter-spacing: .8px;
}

/* ***input*** */
.contact form input, .contact form textarea {
  width: 90%;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width:992px) {
  .contact form input, .contact form textarea {
    width: 100%;
  }
}

.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 0.103);
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff9e;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}

/* **button** */
.contact form input[type=submit] {
  font-weight: 700;
  background-color: #6d507d9a;
  padding: 14px 38px;
  font-size: 18px;
  margin: 25px auto;
  border-radius: 5px;
  transition: 0.8s ease-in-out;
  width: 90%;
}
@media screen and (max-width:992px) {
  .contact form input[type=submit] {
    width: 100%;
  }
}
.contact form input[type=submit]:hover {
  background: #531b71b7;
}


/************ Footer Css ************/
.footer {
  padding: 0 0 5px 0;
  background-image: url('./assets/img/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.newsletter-bx {
  background: #e9d0f4c0;
  border-radius: 55px;
  color: #121212;
  padding: 80px 100px;
  margin-bottom: 80px;
  margin-top: -122px;
  border: none;
}
@media screen and (max-width:768px){
  .newsletter-bx {
    padding: 50px 50px;
  }
}
@media screen and (max-width:290px){
  .newsletter-bx {
    padding: 40px 30px;
  }
}

.newsletter-bx h5 {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.1em;
  color: rgb(42, 11, 63);
  margin: 0;
  padding: 0;
}
@media screen and (max-width:768px){
  .newsletter-bx h5 {
    width: 100%;
    font-size: 1rem;
  }
}
@media screen and (max-width:768px){
  .newsletter-bx h5 {
    width: 100%;
    font-size: 1rem;
  }
}
@media screen and (max-width:500px){
  .newsletter-bx h5 {
    width: 100%;
    font-size: .9rem;
  }
}

.footer img {
  width: 26%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.footer .copyright {
  text-align: center;
  font-size: 10px;
  letter-spacing: .7px;
  color: rgba(255, 255, 255, 0.267);
}
